// react-pro-sidebar overrides
$sidebar-bg-color: $layout-green-light !default;
$sidebar-color: $text-black !default;
$highlight-color: $layout-beige !default;
$sidebar-width: 220px !default;
$icon-size: 35px !default;
