$font-family-sans-serif: 'Roboto', sans-serif;

// colors
$layout-green: #82ad86;
$text-black: #2b2b2b;
$text-light: #fdfcfc;
$shadow: #4242422a;

// buttons
$btn-line-height: 1.32;
$btn-line-height-sm: 1.32;
$btn-line-height-lg: 1.32;
$btn-border-radius: 0.55rem;
$btn-border-radius-lg: 0.6rem;
$btn-border-radius-sm: 0.5rem;
